<div class="remove-container container-block" style="padding-top: 25px;padding-left: 20px;padding-right: 10px;">
    <h2 class="container-block-title" >
        基本信息
    </h2>
    <ul class="list-unstyled interests-list">
        <!--<li>How to use?</li>-->
        <li>男</li>
        <li>本科</li>
        <li>生于1994年/25岁</li>
        <li>3年工作经验</li>
    </ul>
    <br>
    <h2 class="container-block-title">
        求职意向
    </h2>
    <ul class="list-unstyled interests-list">
        <!--<li>How to use?</li>-->
        <li>地点：青岛</li>
        <li>薪资：面议</li>
        <li>岗位：Java软件工程师</li>
        <!--<li>到岗时间：月内到岗</li>-->
        <li>工作类型：全职</li>
    </ul>
    <br>
    <!--<p class="container-block-title">
        目前离职交接中，4月22号左右交接完，暂时不在广州，希望可以先远程视频面试。
    </p>

    <br>
    <h3 class="container-block-title">
        在线简历
    </h3>
    <img class="online-cv" src="{{ site.baseurl }}/assets/images/online-cv.png" alt="profile picture"/>-->
</div><!--//About-->