---
layout: compress
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
{% include head.html %}

<body>
  <div class="wrapper" style="width:870px;">
    {% include sidebar.html %}

    <!--<div class="main-wrapper" style="padding-bottom: 50px;padding-right: 50px;padding-top: 50px;padding-left: 330px;-->
	<div class="main-wrapper" style="padding-bottom: 40px;padding-right: 20px;padding-top: 40px;padding-left: 270px;;
">
        {{ content }}
    </div>
  </div>

  {% include footer.html %}

  {% include scripts.html %}
</body>

</html>

